@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font_principal: "Cormorant Garamond", serif;
    --font2: "DM Sans", sans-serif;
    --cor1: #D4AF37;
    --cor2: #ddc912;
}

body {
    overflow-x: hidden;
}

div.division {
    width: 100vw;
    height: 3px;
    background-color: var(--cor1);
}

header img {
    display: block;
    width: 45px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1px;
}

nav {
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 1.4em;
    font-family: var(--font_principal);
    text-decoration: none;
    color: var(--cor1);
    text-align: center;
    padding-right: 30px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.334);
}

main {
    height: 100vh;
    width: 100vw;
}

section#apresentacao {
    background-image: url(images/hotel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: darken;
    height: 100%;
}

h1 {
    margin-top: 30px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font_principal);
    font-size: 5em;
    color: white;
    text-shadow: 1px 1px 8px black;
    white-space: nowrap;
}

h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font_principal);
    font-size: 3.6em;
    color: #d0aa2a;
    text-shadow: 1px 1px 8px black;
    margin-top: 110px;
    white-space: nowrap;
}

section#avaliacoes > h2 {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.331);
    margin-top: 0px;
}

h3 {
    position: absolute;
    left: 15%;
    transform: translateX(-15%);
    font-family: var(--font2);
    font-size: 2em;
    color: #d0aa2a;
    text-shadow: 1px 1px 8px black;
    margin-top: 250px;
    white-space: nowrap;
}

header i#burguer {
    display: none;
}

menu#celular {
    display: none;
}

i#infos {
    position: absolute;
    left: 10%;
    transform: translateX(-10%);
    font-size: 2em;
    color: #d0aa2a;
    text-shadow: 1px 1px 8px black;
    margin-top: 255px;
}

p {
    position: absolute;
    left: 18%;
    transform: translateX(-20%);
    font-family: var(--font2);
    font-size: 1em;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    margin-top: 300px;
    width: 500px;
    text-align: justify;
    text-indent: 2px;
}

strong {
    color: var(--cor2);
}

i#star {
    color: #ddc912;
    margin-right: -10px;
}

div.avaliacao h4 {
    display: block;
    margin-left: 100px;
    font-size: 2.5em;
    color: #D4AF37;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.169);

    margin-left: 500px;
    font-size: 2em;
    font-weight: 500;
    font-family: var(--font2);
}

div.avaliacao h4.nome {
    white-space: nowrap;
    margin-top: -200px;
}

div.avaliacao h4.avaliacao {
    font-size: 2em;
}

div.avaliacao p {
    margin-top: 0px;
    font-size: 0.5em;
    color: black;
    text-shadow: none;
    font-weight: 300;

    margin-left: 375px;
}

div.avaliacao img {
    display: inline-block;
    margin-top: 90px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #daaf23;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.419);
    margin-left: 270px;
    object-fit: cover;
}

@media screen and (orientation: portrait) {
    nav ul {
        display: none;
    }

    header i#burguer {
        display: block;
        width: 45px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 1px;
        color: var(--cor1);
        cursor: pointer;
    }

    header i#burguer:hover {
        color: #ffc403;
    }

    menu#celular a {
        color: var(--cor1);
        font-size: 1.2em;
        font-family: var(--font_principal);
        text-decoration: none;
        color: var(--cor1);
        margin-left: 10px;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.334);
    }

    h1 {
        margin-top: 30px;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--font_principal);
        font-size: 3.5em;
        text-shadow: 1px 1px 8px black;
    }

    h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: var(--font_principal);
        font-size: 2.8em;
        text-shadow: 1px 1px 8px black;
        margin-top: 80px;
    }


    p {
        margin-right: 1px;
        margin-left: 50px;
        width: 270px;
    }

    h3 {
        position: absolute;
        left: 35%;
        transform: translateX(-15%);
        font-family: var(--font2);
        font-size: 2em;
        color: #d0aa2a;
        text-shadow: 1px 1px 8px black;
        margin-top: 250px;
        white-space: nowrap;
    }

    i#infos {
        position: absolute;
        left: 18%;
        transform: translateX(-10%);
        font-size: 2em;
        color: #d0aa2a;
        text-shadow: 1px 1px 8px black;
        margin-top: 255px;
    }

    div.avaliacao h4 {
        margin-left: 180px;
        font-size: 1.4em;
    }
    
    div.avaliacao h4.nome {
        margin-top: -150px;
    }
    
    div.avaliacao h4.avaliacao {
        margin-top: -10px;
        font-size: 1.4em;
    }
    
    div.avaliacao p {
        margin-left: 130px;
        width: 200px;
    }
    
    div.avaliacao img {
        width: 100px;
        height: 100px;
        margin-left: 50px;
        margin-bottom: 25px;
    }

    i#star {
        color: #ddc912;
        margin-top: 10px;
        margin-right: -10px;
    }



}